.slider_wrap{
    width: 100%;
}
.slider{
    position: relative;
    width: 1000px;
    height: 280px;
    margin: auto;
    overflow: hidden;
    background-color: #232323;
}
.banner_list{
    position: absolute;
    width: 100%;
    height: 280px;
    left: 0px;
}
.sliderIndex{
    position: absolute;
    width:160px;
    height:20px;
    left:40%;
    bottom: 5px;
}
.sliderIndex span{
    width: 8px;
    height:8px;
    border-radius: 50%;
    background-color: #555555;
    margin-right: 10px;
    float: left;
}
.sliderIndex .on{
    background-color: #4ea3ff;
}
.arrow{
    position: absolute;
    top:120px;
    font-size: 55px;
    color: #29dd8f;
    display: none;
    /*z-index: 2;*/
}

.slider:hover .arrow{
    display: block;
}
.prev{
    left: 0px;
}
.next{
    right:0px;
}